{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}{{ block.super }} - Create New Paste{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <b>Create new paste</b>
    </div>
    <div class="panel-body">
        <form action="{% url 'upload' %}" method="post" accept-charset="utf-8" class="form">
            {% bootstrap_form form %}
            {% csrf_token %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">Create paste</button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% if user.is_authenticated %}
    <div class="panel panel-default">
    <div class="panel-heading">
        <b>Upload a file</b>
    </div>
    <div class="panel-body">
        <form action="{% url 'upload' %}" method="post" accep-charset="utf-8" class="form" enctype="multipart/form-data">
            {% bootstrap_form upload_form %}
            {% csrf_token %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">Upload file</button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endif %}
{% endblock %}