{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load settings %}

{% block title %}{{ block.super }} - Upload{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <b>Create New Paste</b>
    </div>
    <div class="card-body">
        <form action="{% url 'upload' %}" method="post" accept-charset="utf-8" class="form" onsubmit="return create_paste()">
            {% bootstrap_form form %}
            {% csrf_token %}
            {% bootstrap_button "Create Paste" button_class="btn btn-info btn-sm" button_type="submit" %}
        </form>
    </div>
</div>
{% if user.is_authenticated and perms.web.add_file %}
<div class="card">
    <div class="card-header">
        <b>Upload a File</b>
    </div>
    <div class="card-body">
        <form action="{% url 'upload' %}" method="post" class="form" enctype="multipart/form-data">
            {% bootstrap_form upload_form %}
            {% csrf_token %}
            {% bootstrap_button "Upload File" button_class="btn btn-info btn-sm" button_type="submit" %}
        </form>
    </div>
</div>
{% endif %}
{% endblock %}