{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}
{% load account socialaccount %}

{% block head_title %}{% trans "Password" %}{% endblock %}

{% block content %}
{% if error is not None and error != "" %}
<div class="card text-white bg-danger">
    <div class="card-header text-white bg-danger">
        <b>Wrong Password!</b>
    </div>
{% else %}
<div class="card">
    <div class="card-header">
        <b>Password</b>
    </div>
{% endif %}
    <div class="card-body">
        <p>The requested resource is only accessible with a password. Please provide this password in order to view the content!</p>
        <form method="get" action="/{{ paste.shortcut }}">
            <div class="mb-3">
                <label for="id_password" class="control-label">Password</label>
                <input class="form-control" type="text" name="password" id="id_password" />
            </div>
            <button type="submit" class="btn btn-primary btn-sm">{% trans "Go" %}</button>
        </form>
    </div>
</div>
{% endblock %}
