{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load account socialaccount %}

{% block head_title %}{% trans "Password" %}{% endblock %}

{% block bootstrap3_extra_head %}
    {{ block.super }}
    <style>{{ highlightcss }}
        .login-prodiver-icons {
            font-size: 40px;}
    </style>
{% comment %}    <script>
    function get_paste(){
        var password = document.getElementById('id_password').value;
        password = password.replace(/ /g,'');
        if (!password) {
            alert('Please provide a password!');
            return true;
        }
        window.location = '/{{ paste.shortcut }}/' + encodeURIComponent(password);
        return false;
    }
    </script>{% endcomment %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-4 col-xs-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Password</b>
            </div>
            <div class="panel-body">
                <p>The requested resource is only accessible with a password. Please provide this password in order to view the content!</p>
                <form class="form" method="get" action="/{{ paste.shortcut }}">
                    <div class="form-group">
                        <label for="id_password" class="control-label">Password</label>
                        <input class="form-control" type="text" name="password" id="id_password" >
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">{% trans "Go" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
