{% load bootstrap3 %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
{% load bootstrap3 %}
<html{% if LANGUAGE_CODE %} lang="{{ LANGUAGE_CODE }}"{% endif %}>

<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block bootstrap3_title %}{% block title %}Kleber{% endblock %}{% endblock %}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/slate/bootstrap.min.css" rel="stylesheet" integrity="sha256-cp9lCRHDsELuWqPLwCHG6LXz+nk32BzccNd0N2v5yjM=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sjcl/1.0.7/sjcl.min.js" integrity="sha256-dFf9Iqsg4FM3OHx2k9aK6ba1l28881fMWFjhMV9MB4c=" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}"/>
    <style>
        .site-footer {
            margin-bottom: 50px;
            border: 1px solid rgba(0,0,0,0.6);
            font-size: small;
            padding: 5px 10px;
            border-radius: 4px!important;
            background-color: #2e3338;}
        .site-footer ul {
            margin: 0;}
    </style>
    {% block bootstrap3_extra_head %}{% endblock %}
</head>

<body>
{% block bootstrap3_content %}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Kleber</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="{% url 'upload' %}"><span class="fa fa-paste"></span> New</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'upload_history' %}"><span class="fa fa-history"></span> History</a></li>
                {% endif %}
                <li><a href="{% url 'about' %}"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
                <li><a href="{% url 'cli' %}"><span class="fa fa-terminal" style="font-weight: 900;"></span> CLI</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li><a href="{% url 'users_account' %}"><span class="fa fa-user"></span> Account</a></li>
                <li><a href="{% url 'account_logout' %}"><span class="fa fa-sign-out"></span> Logout</a></li>
                {% else %}
                <li><a href="{% url 'account_signup' %}"><span class="glyphicon glyphicon-list-alt"></span> Register</a></li>
                <li><a href="{% url 'account_login' %}"><span class="fa fa-sign-in"></span> Login</a></li>
                {% endif %}
            </ul>
        </div>
      </div>
    </nav>

    <div class="container">
{% comment %}        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}{% endcomment %}
        {% block content %}(no content){% endblock %}
    </div>

    <div class="container">
        <div class="site-footer">
            <span>© 2019 Kleber</span>
            <ul class="navbar-right list-inline">
                <li><a href="/api/uploads/" class="links">API</a></li>
                <li><a href="https://github.com/kleber-io/kleber-cli" class="links">CLI</a></li>
                <li><a href="/about/#contact" class="links">Contact</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% block bootstrap3_extra_script %}{% endblock %}
</body>
