{% load django_bootstrap5 %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
{% load django_bootstrap5 %}
<html{% if LANGUAGE_CODE %} lang="{{ LANGUAGE_CODE }}"{% endif %}>

<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block django_bootstrap5_title %}{% block title %}Kleber{% endblock %}{% endblock %}</title>
    
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}" />
    {% bootstrap_css %}
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/kleber.css' %}" rel="stylesheet" type="text/css">
    {% block django_bootstrap5_extra_head %}{% endblock %}
</head>

<body>
{% block bootstrap5_before_content %}{% endblock %}
{% block bootstrap5_content %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
    <a class="navbar-brand" href="/">Kleber</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"       aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'upload' %}"><span class="fa fa-paste"></span> New</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'upload_history' %}"><span class="fa fa-history"></span> History</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}"><span class="fa fa-info"></span> About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'cli' %}"><span class="fa fa-terminal" style="font-weight: 900;"></span> CLI</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/uploads/"><span class="fa fa-plug" style="font-weight: 900;"></span> API</a>
            </li>
        </ul>
        <ul class="navbar-nav d-flex">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users_account' %}"><span class="fa fa-user"></span> Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}"><span class="fa fa-sign-out-alt"></span> Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_signup' %}"><span class="fa fa-user-plus"></span> Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_login' %}"><span class="fa fa-sign-in-alt"></span> Login</a>
            </li>
            {% endif %}
        </ul>
    </div>
    </div>
</nav>

<main class="container d-grid gap-3">
{% comment %}{% autoescape off %}{% bootstrap_messages %}{% endautoescape %}{% endcomment %}
    {% block content %}(no content){% endblock %}
</main>

<footer class="footer mt-auto py-3 bg-dark site-footer">
    <div class="container">
      <span class="text-muted">© 2022 Kleber</span>
    </div>
  </footer>
{% endblock %}
{% block bootstrap5_after_content %}{% endblock %}

{% if not 'javascript_in_head'|bootstrap_setting %}
    {% bootstrap_javascript %}
{% endif %}
{% block django_bootstrap5_extra_script %}{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/sjcl/1.0.8/sjcl.min.js" integrity="sha512-s0r9TyYSs5CusSDL5s/QEZQZ4DNYLDXx0S+imS+SHR9mw0Yd0Z5KNS9dw7levSp7GpjOZu/bndds3FEDrKd8dg==" crossorigin="anonymous"></script>
<script src="{% static 'js/kleber.js' %}"></script>
</body>
