{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}{{ block.super }} - CLI{% endblock %}

{% block content %}
<h1>CLI</h1>
<p>Kleber provides an official client which allows pastes and uploads from the command line. The primary purpose is to provide a command-line interface where the basic API features are implemented. Uploading of pure text as well as data/binary is supported from either files or STDIN.</p>

<h2>Get It!</h2>
<p>The sources of the Kleber CLI are available on <a href="https://github.com/takeshixx/kleber-cli">GitHub</a>. There is also a <a href="https://aur.archlinux.org/packages/kleber-git">kleber-git</a> package available in the Arch User Repository (AUR).</p>

<h2>Installation</h2>
<pre>$ pip install -r requirements.txt
$ pit install .</pre>

<h2>Configuration</h2>
<p>Kleber supports configuration files. The default configuration file is located at <kbd>~/.kleberrc</kbd>.</p>
<h3>Minimal configuration file</h3>
<p>A minimal configuration file includes just one line with a valid Authentication Token:</p>
<pre>{"api_key": "$INSERT_API_KEY_HERE"}</pre>

<h2>Examples</h2>
<h4>Upload a File</h4>
<pre>$ kleber /data/file</pre>
<h4>Upload From STDIN</h4>
<pre>$ echo "Kleber is awesome" | kleber -</pre>
<h4>Create a paste from STDIN with a given name</h4>
<pre>$ echo "More Kleber" | kleber --name mypaste</pre>
<h4>List Upload History</h4>
<pre>$ kleber --list</pre>
<h4>Help Page</h4>
<pre>$ kleber --help</pre>

<h2>Contribute</h2>
<p>Feel free to open issues and create pull requests on the <a href="https://github.com/takeshixx/kleber-cli">GitHub</a> page.</p>
<br />
{% endblock %}