{% extends "base.html" %}
{% load bootstrap3 %}

{% block bootstrap3_extra_head %}
    {{ block.super }}
    <style>

    </style>
{% endblock %}

{% block title %}{{ block.super }} - User Account{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading"><b>User Profile</b></div>
            <table class="table">
                <tr><td><b>Uername</b></td><td>{{ request.user.username }}</td></tr>
                <tr><td><b>Email address</b></td><td>{{ request.user.email }}</td></tr>
                <tr><td><b>Registration date</b></td><td>{{ request.user.date_joined }}</td></tr>
            </table>
            <div class="panel-footer">
                <div class="btn-toolbar" role="toolbar">
                    {% url 'account_email' as userchange_url %}
                    {% bootstrap_button "Change E-mail Address" button_class="btn btn-primary" href=userchange_url %}
                    {% url 'account_change_password' as pwchange_url %}
                    {% bootstrap_button "Change Password" button_class="btn btn-primary" href=pwchange_url %}
                    {% bootstrap_button "Delete Account" button_class="btn btn-danger" href="#" %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="panel panel-info">
            <div class="panel-heading"><b>Authentication Token</b></div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Token</th>
                        <th>Creation Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% if tokens %}
                    {% for token in tokens %}
                    <tr>
                        <td>{{ token.key }}</td>
                        <td>{{ token.created }}</td>
                        <td>
                        {% url 'users_token_delete' token=token.key as token_url_delete %}
                        {% bootstrap_button "Delete" href=token_url_delete button_class="btn-danger btn-xs" %}
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            {% if not tokens %}
            <div class="panel-footer">
                <div class="btn-toolbar" role="toolbar">
                    {% url 'users_token_create' as token_url_create %}
                    {% bootstrap_button "Create Authentication Token" button_class="btn-primary" href=token_url_create %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="panel panel-warning">
            <div class="panel-heading"><b>Invite Codes</b></div>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Code</th>
                        <th>Receiver</th>
                        <th>Creation Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="panel-footer">
                <div class="btn-toolbar" role="toolbar">
                    {% bootstrap_button "Create Invitation Code" button_class="btn-primary" href="#" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}