{% extends "account/base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <b>Change Password</b>
    </div>
    <div class="card-body">
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary btn-sm" name="action">{% trans "Change Password" %}</button>
        </form>
    </div>
</div>
{% endblock %}
