{% extends "account/base.html" %}

{% load bootstrap3 %}
{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Change Password</b>
            </div>
            <div class="panel-body">
                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary" name="action">{% trans "Change Password" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
