{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Sign Up</b>
            </div>
            <div class="panel-body">

                <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button type="submit" class="btn btn-primary">{% trans "Sign Up" %} &raquo;</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
